/* :host {
  flex: 1;
  background: #ffffff;
  border: 2px dashed #a7c7e7; /* bleu doux 
  border-radius: 12px;
  padding: 20px;
  min-height: 500px;
  width: 500px; /* taille fixe maintenue 
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
} */

:host(:hover) {
  background-color: #f0f4f8; /* léger bleu gris */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.grid-stack {
  flex: 1;
  background: #ffffff;
  border: 2px dashed #a7c7e7; /* bleu doux */
  border-radius: 12px;
  padding: 20px;
  min-height: 100%;
  width: 1000px; /* taille fixe maintenue */
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.grid-stack:hover {
  background-color: #e8f0fe; /* léger hover */
}
